<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- patials here -->
    <%- include('../partials/navbar.ejs') %>

        <div class="p-4 m-4">
            <h1>About me</h1>
            <img src="/img/Lighthouse.jpg" alt="">
            <p>created by one and only
                <%= data.name %>
            </p>
            <p>Created at
                <%= data.date %>
            </p>
        </div>
</body>
<script>console.log("hello about");
</script>
<script src="/js/script.js"></script>

</html>